@import "foundation/mixin"
@import "foundation/reset"
@import "foundation/utility"
@import "foundation/base"

h1
	background #000
	color #fff
	padding 10px 6px
	font-size 20px
table
	th,td
		padding 6px
		border 1px solid #ddd